<%- include("includes/header") %>
  
  <div class="container py-md-5 container--narrow">
    <%- include("includes/flash") %>
    <div class="d-flex justify-content-between">
      <h2><%= recipe.title %></h2>
      <span class="pt-2">
        <a href="#" class="text-primary mr-2" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit"></i></a>
        <form class="delete-post-form d-inline" action="#" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="delete-post-button text-danger" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash"></i></button>
        </form>
      </span>
    </div>
      
    <p class="text-muted small mb-1">
      Posted by <a href="/profile/<%= recipe.author.username %>"><%= recipe.author.username %></a> on <%= recipe.createdDate.getMonth()+1 %>/<%= recipe.createdDate.getDate() %>/<%= recipe.createdDate.getFullYear() %></p>
      <p class="text-muted small mt-0 mb-4">Cook time: <%= recipe.cook_time %></p>

      <div class="svg-container d-flex justify-content-end w-100">
        
        <% if (recipe.isVisitorOwner) { %>
          <a href="/recipe/<%= recipe._id %>/edit"><img src="/assets/edit.svg" alt="edit-post" class= "mx-2" ></a>
          <form action="/recipe/<%= recipe._id %>/delete" method="POST">
          <!-- <a href=""><img src="/assets/trash-can.svg" alt="delete-post" ></a> -->
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="delete-post-button text-danger" data-toggle="tooltip" data-placement="top" title="Delete"><a href=""><img src="/assets/trash-can.svg" alt="delete-post" ></a></button>

        </form>
        <% } %>

        
      </div>

      <div class="body-content">
      <div class="indiv-recipe-description">
        <h4><strong>Description:</strong></h4>
        <p><%- filterUserHTML(recipe.description) %></p>
      </div>
      
      <div class="indiv-recipe-ingredients">
        <h4><strong>Ingredients:</strong></h4>
        <p><%- filterUserHTML(recipe.ingredients) %></p>
        
      </div>

      <div class="indiv-recipe-ingredients">
        <h4><strong>Steps:</strong></h4>
        <p><%- filterUserHTML(recipe.steps) %></p>
      </div>
      
      
      
      
    </div>

  </div>
  
<%- include("includes/footer") %>